$color_error: red;
$color_info: green;
$color_valid: green;
$color_invalid: red;
$color_warning: yellow;


.ZUnoRazberryModal
{
	display: flex;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
	align-items: center;
	justify-content: center;
	user-select: none;
}

.ZUnoRazberryModal_color_error
{
	color: $color_error;
}

.ZUnoRazberryModal_color_info
{
	color: $color_info;
}

.ZUnoRazberryModal_color_warning
{
	color: $color_warning;
}

.ZUnoRazberryModal_color_warning_info
{
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}


.ZUnoRazberryModal > section
{
	display: flex;
	background-color: #fefefe;
	padding: 1rem;
	border: 1px solid #888;
	min-width: 50%;
	min-height: 4rem;
	max-height: 100%;
	flex-direction: column;
	overflow: auto;
}

.ZUnoRazberryModalContentSectionButton
{
	display: flex;
	position: relative;
	justify-content: space-between;
	width: 100%;
	height: min-content;
}

.ZUnoRazberryModalContentSection_table
{
	display: flex;
	position: relative;
	justify-content: space-between;
	flex-direction: column;
}

$margin_section_log_item: 0.2rem;

.ZUnoRazberryModalContentSection_table > h3
{
	display: flex;
	position: relative;
	justify-content: center;
	width: 100%;
	margin: $margin_section_log_item
}

.ZUnoRazberryModalContentSectionLog_section_txt
{
	display: flex;
	position: relative;
	flex-direction: column;
	min-height: 5rem;
	max-height: 5rem;
	overflow: auto;
	width: 100%;
	margin: $margin_section_log_item;
	cursor: text;
	border-width: 0.1rem;
	border-style: solid;
	user-select: text;
}

.ZUnoRazberryModalContentSectionLog_section_txt > *
{
	white-space: nowrap;
}

.ZUnoRazberryModalContentSection_table td
{
	border-top: 0.1rem solid #9fd8ef;
	padding: 0.25rem;
}


.ZUnoRazberryModalContentSection_table td:nth-child(1)
{
	width: 15rem;
}

.ZUnoRazberryModalContentSection_table td:nth-child(2)
{
	text-align: left;
	user-select: text;
	max-width: 100%;
}

.ZUnoRazberryModalContentSection_table td:nth-child(3)
{
	text-align: right;
	max-width: 100%;
}

.ZUnoRazberryModalContentSection_table input[type=number]:valid + span:after
{
	content: '✓';
	padding-left: 0.2rem;
	color: $color_valid;
}

.ZUnoRazberryModalContentSection_table input[type=number]:invalid + span:after
{
	content: '✖';
	padding-left: 0.2rem;
	color: $color_invalid;
}
